# Exclude all VSCode configuration files.
**.vscode/

# OSX
.DS_Store

# Ignore all log files.
**.log*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

.cache

data/**
archive/**

# Anonymiser data files
anonymisation/input_files
anonymisation/output_files

